.formflow-row {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
}

.formflow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  text-align: center;
  font-size: 12px;
  font-weight: bold;
  /* background-color: #ffb800; */
  background-color: #dfe5ea;
  border-radius: 50%;
  color: white;
  padding: 5px;
  width: 18px;
  height: 18px;
}

.formflow-line {
  /* margin: 0 2px; */
  width: 50px;
  height: 2px;
  background-color: #dfe5ea;
}
