.artdetails-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin: 150px 0 0 0;
  box-sizing: border-box;
}

.artdetails-top-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.artdetails-top-left-container {
  /* display: flex;
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-content: center; */
}

.artdetails-top-left-container img {
  height: 300px;
  border-radius: 10px;
}

.artdetails-top-right-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 320px;
  box-sizing: border-box;
  padding: 50px;
}

.artdetails-top-right-container .artdetails-title {
  color: #90999f;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.artdetails-top-right-container .artdetails-artist {
  color: #90999f;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.artdetails-top-right-container .artdetails-price {
  color: #3e5aa0;
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0 10px 0;
  padding: 0;
}

.artdetails-review-row {
  display: flex;
  font-size: 10px;
  color: #90999f;
  margin-top: 20px;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 50px;
}

.artdetails-submit-cart-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.artdetails-submit-cart-row-left {
  display: flex;
  justify-content: space-between;
  width: 35%;
  color: #90999f;
  border: 1px solid #e1e6eb;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
}

.artdetails-submit-cart-row-right {
  display: flex;
  width: 62%;
  height: 100%;
  color: #ffffff;
  /* border: 1px solid #e1e6eb; */
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #ff007a;
}

.artdetails-submit-cart-row-right button {
  background: transparent;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  text-transform: none;
  border-radius: 5px;
}

.artdetails-middle-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: transparent;
  border-bottom: 1px solid rgba(53, 79, 139, 0.5);
  border-top: 1px solid rgba(53, 79, 139, 0.5);
  margin: 50px 0 10px 0;
  box-sizing: border-box;
}

.artdetails-middle-container button {
  background: transparent;
  color: #90999f;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 100%;
  text-transform: none;
  border: transparent;
  margin: 0px 50px;
  font-size: 15px;
}

.artdetails-middle-container button:hover {
  font-weight: bold;
  color: #354f8b;
}
