.artistCollection-container {
  margin-top: 130px;
}

.ArtistCollection-artist {
  width: 100%;
  color: red;
  height: 50px;
}
.artistCollection-rows {
  columns: 400px;
  column-gap: 10px;

  padding: 4em;
  box-sizing: border-box;
}

.artistCollection-rows div {
  break-inside: avoid-column;
  margin-bottom: 1rem;
}

.artistCollection-title {
  text-align: center;
  color: #90999f;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
