.artupload-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  margin: 100px 0 0 0;
  padding: 0 100px;
}

.artupload-container h3 {
  color: #ff007a;
  /* width: 100%; */
}

.artupload-form {
  display: flex;
  justify-content: center;
  /* align-items: center;
  align-content: center; */
  text-align: left;
  padding: 50px;
  background: #ffffff;
  border: 1px solid #e1e6eb;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.artupload-leftChildContainer {
  width: 350px;
  color: #354f8b;
  padding-right: 50px;
}

.artupload-inputText {
  width: 100%;
  height: 30px;
  margin-bottom: 25px;
  padding: 10px;
  color: #90999f;
  border: 1px solid #e1e6eb;
  box-sizing: border-box;
  border-radius: 3px;
}

.artupload-row {
  display: flex;
  justify-content: space-between;
}

.artupload-row div {
  width: 48%;
}

.artupload-checkbox-row {
  display: flex;
  width: 100% !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 14px;
  margin-top: 5px;
}

.artupload-row .artupload-quantity {
  width: 30% !important;
}

.artupload-row .artupload-price {
  width: 65% !important;
}

.artupload-rightChildContainer {
  width: 350px;
  color: #354f8b;
}

.artupload-upload {
  border: 1px solid #e1e6eb;
  padding: 10px;
}

.artupload-upload-button {
  width: 100%;
  /* height: 30px; */
  margin-bottom: 25px;
  padding: 10px;
  color: #90999f;
  border: 1px solid #e1e6eb;
  box-sizing: border-box;
  border-radius: 3px;
}

.artupload-leftChildContainer h6,
.artupload-rightChildContainer h6 {
  color: #90999f;
  margin: 0 0 3px 0;
  padding: 0;
}

.artupload-preview {
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.artupload-preview img {
  width: 100px;
}

.artupload-description-inputText {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  color: #90999f;
  border: 1px solid #e1e6eb;
  box-sizing: border-box;
  border-radius: 3px;
}

.artupload-submitButton {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: #3e5aa0;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

/* .inputTextDesc {
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
  padding: 10px;
  color: #90999f;
  border: 1px solid #e1e6eb;
  box-sizing: border-box;
  border-radius: 3px;
} */

/* .inputSelect {
  width: 100%;
  height: 25px;
  padding: 10px;
  box-sizing: border-box;
} */

/* .loginHere {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  color: #ff007a;
}

.leftChildContainer h3 {
  padding: 10px;
  margin: 10px;
}

h5 {
  margin-left: 20px;
} */

/* Mobile/tablet */
@media only screen and (max-width: 800px) {
  .leftChildContainer {
    display: none;
  }

  .rightChildContainer {
    margin: 10px;
  }
}
