.navbar-row {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #f9f9fa;
  border-bottom: 1px solid rgba(53, 79, 139, 0.5);
  margin: 0;
  padding: 0px 50px 0px 50px;
  box-sizing: border-box;
}

.navbar-left-elements {
  display: flex;
  align-items: center;
  align-content: center;
  width: 60%;
  margin-right: 30px;
}

.navbar-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-left: 50px;
  padding: 0 10px 0 10px;
  border: 1px solid rgba(53, 79, 139, 0.5);
  box-sizing: border-box;
  border-radius: 24px;
}

.navbar-search-bar select {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  text-align: center;
  color: rgba(53, 79, 139, 0.8);
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
}

.navbar-search-bar select::-ms-expand {
  display: none;
}

.navbar-row input {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  color: #555555;
  font-size: 16px;
}

.navbar-right-elements {
  display: flex;
  align-items: center;
  align-content: center;
}

.navbar-LoginSignUp {
  font-size: 18px;
  font-weight: bold;
  color: #ff007a;
  margin-right: 30px;
}

.navbar-buttons {
  background: transparent;
  width: 120px;
  height: 30px;
  text-align: center;
  color: #354f8b;
  font-size: 12px;
  font-size: bold;

  border: 1px solid rgba(53, 79, 139, 0.5);
  box-sizing: border-box;
  border-radius: 24px;

  margin-right: 30px;
}

.navbar-buttons img {
  width: 12px;
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  .navbar-left-elements {
    width: 400px;
  }
  .navbar-row {
    padding: 5px 20px 5px 20px;
  }
  .navbar-search-bar {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .navbar-LoginSignUp {
    display: none;
  }
}
