.overviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding-top: 100px;
  margin: 10px, 0px, 10px, 0px;
  box-sizing: border-box;
}
.overviewHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.overviewBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-width: 1px;
  border-color: red;
  border-style: dashed;
  box-sizing: border-box;
}
