.sellerDashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  padding: 50px;
  margin: 10px;
}

.myListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-width: 1px;
  border-color: red;
  border-style: dashed;
  box-sizing: border-box;
}

.myListItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: red;
  border-style: dashed;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  overflow: scroll;
}
.myListItemContainer {
  overflow: scroll;
  width: 100%;
  height: 75%;
  border-color: green;
  border-style: dashed;
  box-sizing: border-box;
}
